
{% extends 'base.html' %}

<title>{% block title %}FLORA:IceCream{% endblock title %}</title>

{% block body %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="/static/cream1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/cream2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/cream3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>


{% endblock body %}